{% extends "layout.html" %} {% block content %}
<body>
  <h1>About Us</h1>
  <p>
    Welcome to ModelPy, your pocket companion for exploring the future of
    financial markets through the lens of deep learning. ModelPy is designed to
    demystify the complex world of stock predictions by providing you with a
    user-friendly mobile application that leverages cutting-edge deep learning
    models.
  </p>
  <br />
  <h1>What Can You Do with ModelPy?</h1>
  <p>
    Simulate Stock Predictions: Use our intuitive interface to select stocks and
    visualize their potential future price movements based on historical data.
  </p>
  <p>
    Customize Models: Tailor the deep learning models to your preference by
    adjusting parameters, allowing for a personalized prediction experience.
  </p>
  <p>
    Learn and Explore: Whether you're a beginner or an expert, ModelPy provides
    educational resources to help you understand the mechanics of deep learning
    models and their application in financial markets.
  </p>
  <p>
    Stay Informed: Access up-to-date market news and analysis to stay informed
    about the factors that might affect your investment decisions
  </p>
</body>
{% endblock %}
