{% extends "layout.html" %} {% block content %}
<div class="column is-4 is-offset-4">
  <h3 class="title">Edit Strategy</h3>
  <div class="box">
    <form
      method="POST"
      action="{{ url_for('edit_strategy', strat_id=strat._id) }}"
    >
      <div class="field">
        <div class="control">
          <input
            class="w3-input w3-border"
            type="text"
            name="strategy-name"
            placeholder="Strategy Name"
            value="{{ strat.name }}"
            autofocus=""
          />
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input
            class="w3-input w3-border"
            type="text"
            name="buy"
            placeholder="Buy"
            value="{{ strat.buy }}"
            autofocus=""
          />
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input
            class="w3-input w3-border"
            type="text"
            name="hold"
            placeholder="Hold"
            value="{{ strat.hold }}"
            autofocus=""
          />
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input
            class="w3-input w3-border"
            type="text"
            name="sell"
            placeholder="Sell"
            value="{{ strat.sell }}"
          />
        </div>
      </div>

      <button class="w3-button w3-black">Edit Strategy</button>
    </form>
  </div>
  <br />
  <div class="box">
    <form
      method="POST"
      action="{{ url_for('delete_strategy', strat_id=strat._id) }}"
    >
      <button class="w3-button w3-black">Delete Strategy</button>
    </form>
  </div>
</div>
{% endblock %}
