<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Portfolio Analysis</title>
  <!-- Include Bootstrap for styling -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- Include Chart.js for pie chart -->
  <script defer>
    window.onload = function () {
    var chart = new CanvasJS.Chart("chartContainer", {
      animationEnabled: true,
      title:{
        text: "{{ manager_name }}'s Portfolio",
        horizontalAlign: "left"
      },
      theme: "light2",
      data: [{
        type: "doughnut",
        startAngle: 60,
        //innerRadius: 60,
        indexLabelFontSize: 17,
        indexLabel: "{label} - #percent%",
        toolTipContent: "<b>{label}:</b> {y} (#percent%)",
        dataPoints: [
          {% for stock in data %}
          { y: {{ stock['% of Portfolio'] }}, label: "{{ stock['Ticker'] }}" },
          {% endfor %}
        ]
      }]
    });
    chart.render();
    }

    var data = {{ data | tojson | safe }};

      // Extract the labels and values from the data
    var labels = data.map(function(row) { return row['Stock']; });
    var values = data.map(function(row) { return row['% of Portfolio']; });


  </script>
  <style>
    .table {
      padding: 1vh;
    }
  </style>
</head>
<body>
  <div class="container mt-5">
    <!-- Portfolio Header -->
    <div class="jumbotron">
      <h1 class="display-4">Portfolio Analysis</h1>
      <p class="lead">A detailed look at the investment strategies of a renowned trader.</p>
    </div>

    <!-- Portfolio Table -->
    <h2>Portfolio Details</h2>
    <div class="table">
      {{ holdings_table | safe }}
    </div>
  <div id="chartContainer" style="height: 370px; width: 100%;"></div>
  <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
  
</body>
</html> 